@{
    ViewBag.Title = "Home";
}

<div class="content">
    <div class="jumbotron">
        <h1>Bienvenido a Phoro!</h1>
        <p class="lead">Phoro es una solución para sus plataformas de debate en línea.</p>
        <div>
            <h2>Enlaces útiles:</h2>
            <p>
                <a href="/Categoria/Index"><button class="btn btn-lg btn-default">Foro</button></a>
                <a href="/Usuario/Create"><button class="btn btn-lg btn-default">Registro</button></a>
                <a href="/Usuario/Login"><button class="btn btn-lg btn-default">Iniciar Sesión</button></a>
            </p>
        </div>
    </div>
</div>