@using Microsoft.AspNet.Identity
@if (Request.Cookies["UserSettings"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Usuario/Details/@Request.Cookies["UserSettings"]["Id"]">Hola, <b>@Request.Cookies["UserSettings"]["Nombre"]</b></a>
        </li>
        <li>@Html.ActionLink("Mail", "Index", "MensajePrivado")</li>
        <li><a href="/Usuario/Logout">Cerrar sesión</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Usuario/Login">Iniciar sesión</a></li>
        <li><a href="/Usuario/Create">Registrarse</a></li>
    </ul>
}
